<!DOCTYPE html>
<html>
    <head>
	    <link rel="https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css">
        <link rel="stylesheet" href={{ url_for('static', filename='styles.css') }} />
    </head>
    <body>
		<div class="animation-area">
			<img class="logo" src="https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_RGB_Black.png"></img>
			<ul class="box-area">
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
			<div class="grid-item">
				<a href="{{ song_lyrics }}" title="Checkout song lyrics">
					<img id="song" src="{{ song_img }}"/>
				</a>
				<h2 id="title">{{ song }}</h2>
				<h2 id="artist">{{ artist }}</h2>
				{% if song_img != "" %}
				<a href="{{ song_lyrics }}" title="Checkout song lyrics">
					<div class="artist">
						<img id="artist-photo" src="{{ artist_img }}"/>
					</div>
				</a>
				{% endif %}
				<audio controls autoplay loop>
					<source src="{{ preview_url }}" type="audio/mpeg">
				</audio>
			</div>
		</div>
    </body>
</html>